@import "../../styles/builds.less";
@import "../../styles/color.less";

.cont {
  margin: 0 auto;
}

.title {
  font-size: 64px;
  height: 132px;
  border-right: @border-common;
  border-left: @border-common;
  border-bottom: @border-common;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Carter One', cursive;

  @media (max-width: 984px) {
    & {
      font-size: 46px;
    }
  }
}

.menu {
  border-right: @border-common;
  border-left: @border-common;
  border-bottom: @border-common;
  display: flex;
  height: 50px;

  .left, .right {
    flex-basis: content;
  }

  .center {
    display: flex;
    flex-grow: 1;
    border-right: @border-common;
    border-left: @border-common;
  }
}

.lang {
  display: flex;

  .es, .en {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
    font-weight: none;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      color: var(--pale);
    }
  }

  .bold {
    transition: .2s all;
    font-weight: bold;
  }
}

.color {

  &>.label {
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .icon {
      font-size: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .menuColor {
    display: block;
    position: relative;
    background-color: var(--main);
    left: -2px;
    height: auto;
    border: @border-common;

    ul li {
      padding: 10px;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: var(--pale);
      }

      &:hover .color {
        cursor: pointer;
        border-color: var(--pale);
      }
    }

    .color {
      display: inline-block;
      border: @border-common;
      box-sizing: border-box;
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }

    .color.blue {
      background-color: @paint-blue;
    }

    .color.red {
      background-color: @paint-red;
    }

    .color.green {
      background-color: @paint-green;
    }

    .label {
      padding-left: 8px;
    }

    // Class for hiding menu
    &.none{
      display: none;
    }
  }
}


@media (max-width: 984px) {
  .right {
    display: none
  }
}

.social, .socialRes {
  ul {
    display: flex;
    li a {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: inherit;
      transition: .2s all;

      &:hover {
        cursor: pointer;
        color: var(--pale);
      }
    }
  }
}

.socialRes{
  display: none;
  border-right: @border-common;
  border-left: @border-common;
  border-bottom: @border-common;
  height: 50px;
}

@media (max-width: 983px) {
  .socialRes {
    display: block;
    ul {
      justify-content: center;
    }
  }
}

.desc {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: @border-common;
  border-left: @border-common;
  font-size: 20px;
}