@import '../node_modules/reset-css/less/reset.less';
@import '../node_modules/react-toastify/dist/ReactToastify.css';
@import "./styles/color.less";
@import "./styles/fonts.less";

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

input, textarea, button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  outline: none;
}

input:focus-visible, textarea:focus-visible {
  border: none;
}

::placeholder {
  color: inherit;
}